{% extends 'base.html' %} {% block content %}

<h1>Home Page</h1>

<img src="{{url_for('static', filename='images/banner-1.jpg')}}" alt="">

<article>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id eligendi quos
  maxime assumenda illo vel consequuntur expedita iusto ad animi, incidunt
  dolorum, architecto temporibus ullam corporis pariatur eos veniam. Rem,
  repellendus officiis ipsam veritatis nobis hic asperiores nulla veniam dolor
  possimus autem officia sequi in incidunt, accusamus vitae quas. Atque minus
  dignissimos quia aliquid, culpa veritatis facilis ipsam dolor quasi fuga,
  dolores, nisi officia quo impedit. Enim provident dolorum delectus rerum
  adipisci eos aperiam, tempore natus laudantium nesciunt corporis iusto, in
  vitae hic eius deserunt mollitia debitis? Voluptas consequuntur maiores eos
  beatae, voluptates magni cupiditate labore, atque aspernatur dicta animi.
</article>

{% endblock %}
