{% extends 'base.html' %} {% block content %}


<div class="home-row">

	<img
  class="article-image"
  src="{{url_for('static', filename='images/support-img-1.jpg')}}"
  alt="Image of Support"
/>

	<article class="home-article">
		<h4>Our Aim</h4>
		<p>
			To promote the interests and welfare of individuals and families at increased risk of developing certain
			cancers due to inherited BRCA 1 and BRCA 2 gene alterations and to advocate for them and their needs.
		</p>
	</article>
</div>

<div class="home-row">

	<img
  class="article-image"
  src="{{url_for('static', filename='images/support-img-1.jpg')}}"
  alt="Image of Support"
/>

	<article class="home-article">
		<h4>Our History</h4>
		<p>
			BRCA Ireland is a voluntary organisation set up in 2020 by a group of women with BRCA 1 and BRCA 2 gene
			alterations to improve care being provided to those affected in Ireland.
		</p>
	</article>
</div>
<div class="home-row">
	<img
  class="article-image"
  src="{{url_for('static', filename='images/support-img-2.jpg')}}"
  alt="Image of Support"
/>

	<article class="home-article">
		<h4>Our Goals</h4>
		<p>
			<ol>
				We undertake:
				<li>
					To raise awareness about BRCA 1 and 2 gene alterations</li>
				<li>
					To work with patient organisations, researchers, healthcare professionals and governmental agencies
					to support BRCA 1 and BRCA 2 patients and families</li>
				<li>
					To provide advocacy that shapes government policy and to campaign for improvements in care for
					people
					and families with BRCA 1 and BRCA 2 </li>
				<li>
					To support research that enhances care for people and families with BRCA 1 and BRCA 2</li>
				<li>
					To provide updates on developments in the BRCA 1 and BRCA 2 through our website</li>
			</ol>
		</p>
	</article>

</div>

{% endblock %}