/* Universals */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* Root Styles */

:root {
  --white-colour: #efe9e7;
  --black-colour: #1e1e1e;
  --brown-colour: #a98366;
  --green-colour: #66a893;
  --green-contrast: #6bbfbc;
  --purple-colour: #61175b;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--purple-colour);
  font-family: "Poppins", sans-serif;
}

.navbar-logo-image {
  max-height: 7vh;
  margin: 5px;
  border: 2px solid #fafafa;
}

.copy {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.pagehead {
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--white-colour);
  letter-spacing: 5px;
  font-size: 20px;
}

.logo h4 {
  padding-left: 10px;
  color: var(--white-colour);
  padding-bottom: 0;
  margin-bottom: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--white-colour);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--white-colour);
  margin: 5px;
  transition: all 0.3s ease;
}

.large-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.tagline {
  max-width: 100%;
  font-size: 9px;
  letter-spacing: normal;
  margin: auto;
  padding: 0;
  color: var(--white-colour);
  max-height: 10px;
  position: relative;
  bottom: 0;
  right: 37%;
}

/* Media Queries */

@media screen and (max-width: 1068px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--purple-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .screen-split {
    width: 30%;
  }

  .large-screen {
    display: none;
  }
  .small-screen {
    display: flex !important;
    justify-content: space-evenly;
  }

  .social-links {
  }
}

/* Animations */
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Footer */

footer {
  background-color: var(--purple-colour);
  min-height: 6vh;
  width: 100%;
  color: var(--white-colour);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 7px 0 7px 0;
}

footer p,
.navigation a {
  color: var(--white-colour);
}

.screen-split {
  width: 50%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-links {
  font-size: 2rem;
}

.social-links a {
  text-decoration: none;
  color: var(--white-colour);
  padding: 3px;
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  font-size: 3rem;
  color: #ffffff;
}

.small-screen {
  display: none;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.small-screen i,
.small-screen a {
  margin: 0, 1rem, 0, 1rem;
}

.studio-link,
.studio-link:hover {
  text-decoration: none;
  color: #ffffff;
}

/* Home Page */

.container {
  width: 90%;
}

.home-row {
  width: 100%;
  display: flex;
}

.article-image {
  max-height: 400px;
  max-width: 400px;
  float: left;
  margin: 50px;
}

.home-article {
  margin: 50px;
  padding: 50px;
  width: 50%;
}

/* Blog Page */

.blogpost {
  margin-bottom: 5rem;
}

.blogpost-content {
  padding: 2rem;
}

.blogpost-info {
  font-size: 1.2rem;
}

/* About Page */

.about-header {
  background-color: var(--green-colour);
  color: var(--white-colour);
  text-align: left;
  padding: 10px 50px 10px 30px;
  margin-top: 0;
  width: 150%;
}

.view-post-button {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--green-colour);
  color: var(--white-colour);
  text-decoration: none;
  transition: 0.1s ease-in;
  border-radius: 2px;
}

.view-post-button:hover {
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration-line: none;
}

.post-title {
  text-align: left;
  color: var(--black-colour);
}
