<!DOCTYPE html>
<html lang="en">
  {% include 'layout/head.html' %}

  <body>
    <header>
      {% include 'layout/navbar.html' %}
    </header>
    {% include 'layout/messages.html' %}

    <main>
      <section class="glass">
        {% block content %} 
        
        <!-- All Content Goes Here -->
        
        {% endblock %}
      </section>
    </main>
    
<div class="circle1"></div>
<div class="circle2"></div>
    <footer>
      {% include 'layout/footer.html' %}
    </footer>
    {% include 'layout/scripts.html' %}
  </body>
</html>
